@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400&family=Poppins:wght@200;400;600&display=swap");

$primary-color: #105652;
$secondary-color: #fbf3e4;
$third-color: #b91646;
$fourth-color: #dfd8ca;

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: #105652;
  height: 600px;
  border: dotted $third-color 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $secondary-color;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  margin-bottom: 50px;
  
  .logo {
    width: 15%;
  }
  ul {
    display: flex;
    li {
      margin-right: 20px;
      list-style: none;
    }
  }
}

.profile {
  display: flex;
  padding-top: 20px;
  color: $third-color;
 
  .profileImg {
    width: 20%;
    border-radius: 10px;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
