@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400&family=Poppins:wght@200;400;600&display=swap");

$primary-color: #ffffff;
$secondary-color: #000000;
$third-color: #868a8b;
$fourth-color: #494844;

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-color: $primary-color;
  height: 800px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $secondary-color;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  margin-bottom: 50px;

  .logo {
    width: 15%;
  }
  ul {
    display: flex;

    li {
      margin-right: 20px;
      list-style: none;
      padding: 5px;
      a {
        text-decoration: none;
        color: #000000;
        svg {
          height: 3em;
          width: 3em;
          :hover {
            color: yellow;
          }
        }
      }
    }
  }
}

.profile {
  display: flex;
  padding-top: 20px;
  color: $fourth-color;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  .profileImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 10%;
    border-radius: 50%;
    filter: grayscale(100%);
    & :hover {
      filter: none;
    }
  }
}
.intro-section {
  padding: 20px;
  max-width: 300px;
  h1 {
    color: yellow;
    background-color: $third-color;
    padding: 1px 1px 1px 15px;
    &:hover {
      color: $third-color;
      background-color: yellow;
    }
  }
}

.skillSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  margin-top: 10px;
}

.listedSkills {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 500px;
  font-size: larger;
  div {
    ul {
      li {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.project-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.header {
  grid-area: header;
}
.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}
.project-container {
  display: grid;
  grid-template-areas:
    "header header"
    "project1  project2";
  gap: 20px;
  border: $third-color solid;
  background-color: white;
  padding: 50px 100px;
  color: $third-color;
  text-align: center;

  h1 {
    margin: 0;
  }
}
.project-card {
  padding: 20px;
  box-shadow: 5px 5px 20px rgb(165, 162, 162);
  img {
    width: 300px;
    opacity: 1;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  &:hover .project-image {
    opacity: 0.3;
  }
  &:hover .project-link-container {
    opacity: 1;
  }
}

.project-link-container {
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(50%, -250%);
  -ms-transform: translate(50%, -250%);
  text-align: center;
  max-width: 150px;
  .project-link {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 15px 25px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    &:hover {
      text-decoration: underline $primary-color;
    }
    a {
      text-decoration: none;
      color: $primary-color;
      &:hover {
        text-decoration: underline $primary-color;
      }
    }
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .closeDiv {
    svg {
      height: 2em;
      width: 2em;
    }
  }
  .modalInfo {
    
    h3 {
      text-align: center;
    }
    .modalImages {
      display: flex;
    }
  }
}

/* a ::before {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: red;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
} */

.footer {
  background-color: $secondary-color;
  color: $primary-color;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    text-decoration: none;
    color: $third-color;
    &:hover {
      color: yellow;
    }
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
