.hero {
  background-color: $primary-color;
  height: 800px;
}

.profile {
  display: flex;
  padding-top: 100px;
  color: $fourth-color;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;

  .profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 10%;
    border-radius: 50%;
    margin: 30px;
    filter: grayscale(100%);
    transition: border-radius 0.5s ease-in-out;

    &.scroll-img {
      border-radius: 20px;
      transition: border-radius 0.5s ease-in-out;
    }

    & :hover {
      filter: none;
    }
  }
}

.intro-section {
  padding: 20px;
  margin: 30px;
  max-width: 300px;

  h1 {
    color: $accent-color;
    width: max-content;
    background-color: $secondary-color;
    padding: 10px;
    box-shadow: inset 0 0 0 0 $accent-color;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    &:hover {
      color: $primary-color;
      box-shadow: inset 300px 0 0 0 $accent-color;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
    padding-top: 80px;
  }

  .intro-section {
    margin-top: -30px;
  }
}