.navbar {
  color: $secondary-color;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 95;
  justify-content: center;
  padding: 10px;
  transform: translateX(0);
  transition: transform 1s ease-in-out;

  @include medium-breakpoint {
    flex-direction: row;
    width: 100%;
  }

  &.active-nav {
    transform: translateX(100%);
    transform-origin: transform 1s ease-in-out;
  }

  &.collapsed {
    background-color: #ffffffab;
  }

  .nav-content {
    max-width: 1200px;
  }

  .logo {
    width: 15%;
  }

  .toggleBtn {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: $secondary-color;

    @media only screen and (min-width: $smBreakpoint) {
      display: none;
    }

    svg {
      @include medium-breakpoint {
        display: none;
      }

      @include large-breakpoint {
        display: none;
      }
    }
  }

  .link-section {
    z-index: 5;
    position: relative;
    transition: 0.5s ease-in-out;
    overflow: hidden;

    ul {
      display: flex;
      flex-direction: column;

      @include medium-breakpoint {
        flex-direction: row;
      }

      li {
        margin-right: 10px;
        list-style: none;

        a {
          text-decoration: none;
          color: #000000;
          font-size: 30px;

          svg {
            height: 2em;
            width: 2em;

            :hover {
              color: $accent-color;
            }
          }
        }

        .show-small {
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
}